body{
    text-align: center;
    background-color: orange;
}
#GWC{
    width: 400px;
}
#MP{
  width: 400px;
}
#CI{
    width: 400px;
}
#P{
    width: 400px;
}
#TM{
    width: 400px;
}
#C{
    width: 400px;
}
#CTR{
    width: 400px;
}
